VITE_API_URL=http://localhost:4000
VITE_FIREBASE_API_KEY=AIzaSyC3JpXg1mCUAkZ4QDewLdQIBVR1_8chBjY
VITE_FIREBASE_AUTH_DOMAIN=ipmbtpe-36f4e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ipmbtpe-36f4e
VITE_FIREBASE_STORAGE_BUCKET=ipmbtpe-36f4e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=689468151864
VITE_FIREBASE_APP_ID=1:689468151864:web:74da4c5a86c9f103ad6ecd